.App {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #ff4500;
  font-family: "Arial", sans-serif;
}

p {
  font-size: 24px;
  font-weight: bold;
}
.upgradeContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.main.mainContainer {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 20px; /
}

.cookieSection {
  display: flex; 
  align-items: center; 
}
